* {
  margin: 0;
  padding: 0;
}

body {
  margin: none;
  background-color:  #ffffff;
  font-family: Helvetica;
}


.navbar {
  background-color:  #cfd4ed;
}

.shadow-header {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.navbar-nav .nav-item {
    margin-right: 15px;
}

.navbar-toggler-icon {
    background-color: #cfd4ed;
}

.navbar-brand {
  background-color: #0b1f79;
  color: white; 
  width: 100px;
  height: 35px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.575);
}

.navbar-toggler {
    border-color: rgb(34, 34, 34);
    color: black;
    height: fit-content;
}

.btn-register {
    background-color: #5cb85f;
    border-radius: 3px;
    color: white;
}
.btn-register:hover {
  background-color: #3d7b3f;
}

.main 
{
  background-color:  #cfd4ed;
  height: fit-content;
  width: 100%;
  font-weight: 14px;
}
.main-table
{
  height: fit-content;
} 
.main-right
{
  height: 478px;
} 
.main-left
{
  margin-top: 17px;
  margin-bottom: 15px;
  height:fit-content;
  z-index: 1;
}
.img-car
{
  width: 530px;
  top: 220px;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
}

.btn-sewa {
  background-color: #5cb85f;
  border-radius: 4px;
  color: white;

}
.btn-sewa:hover {
background-color: #3d7b3f;

}


/* service */
.service {
  background-color: #ffffff;
  width: 100%;
  height: fit-content;
}

.service-list {
  top: -7px;
  position: relative;
  list-style-type: none;
  padding-left: 0;
}

.service-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 8px;
}

.service-row {
  height: fit-content;
  width: 100%;
}

.service-img:hover {
  transform: rotate(90deg);
}

.service-img1{
  margin: 5px;
  padding: 10px;
}

.service-img2{
  margin-right: 5px;
  padding: 10px;
}
.check-icon {
  margin-right: 10px;
}


.whyus {
    background-color: #ffffff;
    width: 100%;
    height: fit-content;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.card {
    width: 275px;
    border-radius: 5px;
}

.whyus-row {
    padding: 25px 25px;
}

.card-body {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    transform: scale(1.1);
    overflow: hidden;
    padding: 20px;
    margin: 0px 5px 10px 5px;
    transition: background-color .2s;
}

.card-img {
    width: 45px;
    position: absolute;
}

.card-title {
    margin-top: 40px;
    padding-bottom: 15px;
}

.card-body_yellow:hover * {
    z-index: 1;
    color: white;
}

.card-body_yellow::before {
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #F9CC00;
    transition: .7s;
    content: '';
    clip-path: circle(1% at 40px 30px);
}

.card:hover .card-body_yellow::before {
    clip-path: circle(100%);
    border-radius: 5px;
}

.card-body_red:hover * {
    z-index: 1;
    color: white;
}

.card-body_red::before {
    position:absolute;
    top:0;
    width: 100%;
    height: 100%;
    background-color: #FA2C5A;
    transition: .7s;
    content: '';
    clip-path: circle(1% at 40px 30px);
}

.card:hover .card-body_red::before {
    clip-path: circle(100%);
    border-radius: 5px;
}

.card-body_blue:hover * {
    z-index: 1;
    color: white;
}

.card-body_blue::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0D28A6;
    transition: .7s;
    content: '';
    clip-path:circle(1% at 40px 30px);
}

.card:hover .card-body_blue::before {
    clip-path:circle(100%);
    border-radius: 5px;
}

.card-body_green:hover * {
    z-index: 1;
    color: white;
}

.card-body_green::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #5CB85F;
    transition: .7s;
    content: '';
    clip-path: circle(1% at 40px 30px);
}

.card:hover .card-body_green::before {
    clip-path: circle(100%);
    border-radius: 5px;
}

/* testimoni */

.testimonial-wrapper {
  background-color: #ffffff;
  width: 100%;
  padding:0;
  margin: 0;
  text-align: center;
  height: fit-content;
}

.testimonial-title {
  font-size: 24px;
  font-weight: bold;
}
.testimonial-content {
  background-color: #F1F3FF;
  padding: 50px 20px; 
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  box-shadow: #a4a4a5;
}

.testimonial-text
{
  text-align: left;
  flex-grow: 1;
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: medium;
}

.testimonial-image {
  width: 200px;
  height: 200px;
  margin-right: 25px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 50px;
}


.star-rating {
  color: darkorange;
  font-size: 24px;
  margin-bottom: 5px; 
}
.testimonial-user {
  font-weight: bold;
}

.navigation-buttons {
  margin-top: 20px;
}

.prev-button,
.next-button {
  width: 40px;
  height: 40px;
  color: black;
  border: 1px solid black;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.3s; 
}

.prev-button:hover,
.next-button:hover {
  color: white;
  background-color: #28a745; 
}

/* banner */

.card-b{
  padding-top: 50px;
  background-color: #ffffff;
  height: fit-content;
}
.card-b-body
{
  color: #ffffff;
  background-color: #0D28A6;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  padding: 100px;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.card-b-title
{
  font-weight: bold;
  padding-bottom: 30px;
}
.card-text
{
  justify-content: center;
  text-align: center;
  padding-bottom: 30px;
  font-size: large;
}
.btn-sewa2 {
  background-color: #5cb85f;
  border-radius: 5px;
  height: 50px;
  color: white;

}
.btn-sewa2:hover {
  background-color: #3d7b3f;
  color: #ffffff;
}  

@media (max-width: 992px) {
  .navbar .container-lg .container-fluid .main  {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .main-left, .main-right {
    width: 100%;
  }
  .d-flex {
    flex-direction: column-reverse;
  }
  .main-right {
    height: auto;
  }
  .img-car {
    position: static;
    width: 100%;
  }
}

@media only screen and (min-width: 1400px) {
  .img-car {
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
  }

  .main-left {
    width: 35%;
  }

  .main-right {
    width: 65%;
  }
}